/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
  height: 100vh;
}

/* LEFT SIDE */

.left {
  width: 50%;
  background: #f5f5f5;
  position: relative;
  padding: 40px 50px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #0c2a22;
}

.search-box {
  position: absolute;
  top: 40px;
  left: 250px;
}

.search-box input {
  width: 320px;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  background: #eaeaea;
  outline: none;
  font-size: 18px;
}

/* FIXED OVERLAP */

.classification-text {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: left top;
  font-size: 65px;
  color: #0c2a22;
  font-family: serif;
  letter-spacing: 2px;
}

.info {
  margin-top: 170px;
  margin-left: 220px;
}

.item {
  margin-bottom: 28px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  width: 260px;
}

.item h3 {
  margin-bottom: 8px;
  color: #111;
  font-size: 28px;
}

.item p {
  font-size: 20px;
  color: #333;
}

/* CENTER IMAGE */

.center {
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


/* FIXED IMAGE */

.glass img {
  width: 300px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.4));
}



/* RIGHT SIDE */

.right {
  width: 50%;
  background: linear-gradient(to bottom right, #cb2d1f, #b71f17);
  color: white;
  padding: 40px 80px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.content {
  margin-top: 140px;
  margin-left: 180px;
}

.content h1 {
  font-size: 68px;
  font-family: serif;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 40px;
}

.details {
  margin-bottom: 50px;
}

.detail-box p {
  margin-bottom: 15px;
  font-size: 22px;
}

.content h2 {
  font-size: 60px;
  margin-bottom: 40px;
  color: #f3d8a4;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.toggle span {
  width: 42px;
  height: 22px;
  background: #fff;
  border-radius: 20px;
  position: relative;
}

.toggle span::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #d9534f;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.toggle p {
  font-size: 20px;
}

button {
  margin-top: 30px;
  padding: 18px 40px;
  border: none;
  background: #efd39b;
  color: #111;
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
}