/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
} */


 /* h1{
    color: red;
} 

*{
    color: seagreen;
}

#diff{
    color: red;
}


.diff{
    color: rgb(38, 80, 127);
} */


/* html, body {
    background-color: red;
    height: 100%;
}

div{
    background-color: rgb(30, 3, 229);
    height: 100%;
} */