* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    padding: 30px;
    gap:15px;
    background-color: black;
    display: grid;

    grid-template-columns: 22% 20% 7% 27% 22%;
    grid-template-rows: 29% 24% 7% 18% 18%;

    grid-template-areas: 
    "left-top top-center1 top-center1 top-center2 right-top"
    "left-top center center center right-top"
    "left-bottom center center center right-top"
    "left-bottom center center center right-bottom"
    "left-bottom bottom-center1 bottom-center2 bottom-center2 right-bottom"
    ;
    
}


.left-top{
    background-color: #ffffff;
    grid-area: left-top;
    border-radius:35px;
    padding: 30px;
}
.left-bottom{
    grid-area: left-bottom;
    background-color: rgba(54, 29, 33, 0.936);
    color: #ffffff;
    border-radius:35px;
    padding: 30px;
}
.right-top{
    grid-area: right-top;
    background-color: palevioletred;
    border-radius:25px;
    padding: 30px;
}
.right-bottom{
    grid-area: right-bottom;
    background-color: lightseagreen; 
    border-radius:25px;
}
.center{
    grid-area: center;
    background-color: rgb(241, 220, 221);
    
    border-radius:25px;
    display: flex;
    justify-content: center;
    position: relative;
}
.top-center1{
    grid-area: top-center1;
    background-color: lavender;
   
    border-radius:25px;
}
.top-center2{
    grid-area: top-center2;
    background-color: blanchedalmond;
    border-radius:25px;
}
.bottom-center1{
    grid-area: bottom-center1;
    background-color: coral;
    border-radius:25px;
}
.bottom-center2{
    grid-area: bottom-center2;
    background-color: mediumpurple;
    border-radius:25px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.circle{
    height: 100%;
    width: 50%;
    background: radial-gradient(rgb(245, 169, 179),rgb(209, 89, 111));
    border-radius: 50%;
    
}


.center{
    position: relative;
}

/* main center image */
.center img:nth-child(2){
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 800px;
    width: auto;

    z-index: 3;
}

/* common side image style */
.center img:nth-child(3),
.center img:nth-child(4),
.center img:nth-child(5){

    position: absolute;

    height: 300px;
    width: 180px;

    border-radius: 10%;
    object-fit: cover;
}

/* left image */
.center img:nth-child(3){
    position: absolute;

    top:30px;
    left: 20px;
    bottom: 100px;

    height: 300px;
    width: 380px;

    border-radius: 20px;
    object-fit: cover;
}

/* right top image */
.center img:nth-child(4){
    position: absolute;

    right: 50px;
    top: 20px;

    height: 180px;
    width: 300px;

    border-radius: 20px;
    object-fit: cover;
}

/* right bottom image */
.center img:nth-child(5){
    position: absolute;

    right: 100px;
    bottom: 10px;

    height: 250px;
    width: 200px;

    border-radius: 20px;
    object-fit: cover;
}





.bottom-center2-div1 h3{
    font-size: 30px;
}
.bottom-center2-div1 p{
    font-weight: 400;
    margin-bottom: 20px;
}
.bottom-center2-div1 button{
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
}

.bottom-center2 img{
    height: 90%;
}


.right-top img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid black;
}


.left-bottom-icon{
    font-size: 70px; 
    cursor: pointer;

    transition: all 0.3s ease;
    
}

.left-bottom-icon:hover{
    transform: translate(-5px) rotate(8deg) scale(1.08);

    color: #c6d8d8;

    text-shadow: 0 0 20px rgb(162, 215, 217);
}

.left-bottom-div1 h2{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 100;
}
.left-bottom-div1{
    display: flex;
    justify-content: space-between;
}
.left-bottom-div2{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.left-bottom-div2 img{
    height: 200px;
    width:  180px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 20px;

    transition: all 0.4s ease;
}
.left-bottom-div2 img:hover{
    transform: translateY(-10px) scale(1.05);
    
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);

    filter: brightness(1.1);
}

.left-bottom-div3 img{
    height: 60px;
    width: 60px;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid black;
}


.left-top-div1 img{
    height:250px;
    width:250px;
    object-fit:cover;
    margin-left: 20%;
         
}
.left-top h1{
    font-size: 60px;
}
.left-top p{
    font-size: 20px;
    margin-bottom: 10px;
}
.left-top button{
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 10px 30px;
    border: none;
}

.left-top h3{
    font-size: 40px;
}

